/* 公共样式 */
li {
    list-style: none;
}

* {
    margin: 0px;
    padding: 0px;
}

.lbbox {
    width: 600px;
    min-height: 100px;
    border-radius: 10px;
    position: relative;
    
}

.ups {
 width: 80%;
 height: 500px;
 margin: 0 auto;
 padding-top: 20px;
}

.ups img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ii {
    font-size: 20px;
}
.downs {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.downs li {
    width: 70px;
    height: 70px;
    padding:  2px;
}

.downs li img {
    width: 100%;
    height: 100%;
  
}

.leftde {
    position: absolute;
    top: 20%;
    left: 20px;
    font-size: 36px;
}

.rightde {
    position: absolute;
    top: 20%;
    right: 20px;
    font-size: 36px;

}

.activeimg{
    border: 1px solid #ff0088;
    box-shadow: 0px 0px 10px  #ff0088;
}

.titlebox {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
    margin: 50px 0;
}

.contentsbox {
    width: 100%;
    min-height: 100px;
    text-indent: 2rem;
    font-size: 18px;
    line-height: 30px;
}

.likevd {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    line-height: 60px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.fbtime {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-right: 20px;
    text-align: right;

}