.box {
    width: 500px;
    height: 300px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
  }
  
  
  .zhong {
      width: 100%;
      height: 150px;
      padding-left: 20px;
      position: relative;
  
  }
 
  .zhong img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      left: 20px;
      top: 20%;
      
  }
  
  .zhong div {
      width: 60%;
      height: 80px;
      position: absolute;
      left: 120px;
      top: 30px;
  }
  .zhong h3 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
  }
  
  .zhong span {
      width: 100%;
      height: 50px;
  }

  .xia {
    width: 85%;
    height: 100px;
    margin: 0 auto;
    line-height: 30px;
    padding-left: 10px;
    text-align: left;
    overflow: hidden;
    word-break: break-all;
   /* white-space: nowrap;  //不换行 */
   text-overflow:ellipsis;
   -webkit-line-clamp:2;
   -webkit-box-orient: vertical; 
   text-indent: 2em;
   display: -webkit-box;
 
  
}

.likes {
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 20px;  
}