.mbox{
    width: 220px;
    min-height: 150px;
    border-radius: 11px;
    border: 1px solid rgb(187, 183, 183);
    position: relative;
    margin:0px 10px;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;  /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid;/* IE 10+ */
} 


.mbox img{
    width: 100%;
    border-radius: 11px 11px 0px 0px;
}
.mbox div img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: -10px;
}


.mtitle{
    width: 190px;
    min-height: 20px;
    margin: 10px 15px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-break: break-all;
 
}


.mss{
    width: 190px;
    height: 44px; 
    margin: 0px 15px;  
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;    
}

.myname{
    display: inline-block;
    height:70px;
    width: 90px;
    margin-top: 7px;
}

.mright{
    display: inline-block;
    width: 44px;
    font-size: 24px;
    color: #555;
}

.mnum{
    font-size: 12px;
    display: inline-block;
    height: 100%;
    position: relative;
    left: 2px;
    top: -5px;
}

.mplay{
    position: absolute;
    font-size: 24px;
    top: 0px;
    right: 20px;
}



.mzhe{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    position: absolute;
    left: 0;
    top: 0;
}

.mbox:hover .mzhe{
    background-color:rgba(14, 13, 13,.4);
}